alembic==1.10.4
anyio==3.6.2
asyncpg==0.27.0
attrs==23.1.0
certifi==2023.5.7
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
fastapi==0.95.1
fastapi-async-sqlalchemy==0.4.1
fastapi-pagination==0.12.2
Fiona==1.9.3
GeoAlchemy2==0.13.2
geojson==3.0.1
geopandas==0.13.0
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
idna==3.4
Mako==1.2.4
MarkupSafe==2.1.2
munch==2.5.0
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pydantic==1.10.7
pyproj==3.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.12
sqlalchemy2-stubs==0.0.2a34
sqlmodel==0.0.8
starlette==0.26.1
stringcase==1.2.0
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
uvicorn==0.22.0
