<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="pdfkit-page-size" content="Legal" />
    <meta name="pdfkit-orientation" content="Landscape" />
    <title>SPK</title>
    <style>
      @page {
        size: A4 landscape;
      }

      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

      /* CSS untuk header */
      .header {
        text-align: center;
        width: 100%;
      }

      /* CSS untuk sub header */
      .sub-header {
        text-align: left;
      }

      .sub-header td {
        font-size: 15px;
      }

      /* CSS untuk content */

      .content {
        align-self: center;
        margin: 0 auto;
        width: 100%;
      }

      .content p {
        font-size: 15px;
      }

      .content th {
        border: 1px solid;
        font-size: 15px;
        background-color: #b0b0b0;
      }

      .content td {
        border: 1px solid;
        font-size: 14px;
      }

      /* CSS untuk footer */
      .footer {
        align-self: center;
        padding-top: 50px;
        font-size: 16px;
        margin: 0 auto;
        width: 100%;
      }

      .footer td {
        font-size: 16px;
      }

      .spasi-banyak {
        margin: 20px;
        /* Atur jarak margin sebesar 20px */
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="sub-header">
        <table width="100%">
          <tr>
            <td valign="top" align="left">
              <table width="50%">
                <tr>
                  <td>No.</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{code}}</td>
                </tr>
                <tr>
                  <td>Kepada Yth. Bapak Susanto Kusumo</td>
                </tr>
              </table>
            </td>
            <td valign="top" align="right">
              <table width="50%">
                <tr>
                  <td>Jakarta, {{created_at}}</td>
                </tr>
                <tr>
                  <td>THP {{nomor_tahap}}/{{project_name}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="content">
      <table
        align="center"
        style="border-collapse: collapse; border: 1px solid; width: 100%"
      >
        <tr>
          <th>NO</th>
          <th>ID BID</th>
          <th>ALIAS</th>
          <th>LOKASI</th>
          <th>PEMILIK</th>
          <th>SURAT ASAL</th>
          <th>L SURAT</th>
          <th>L UKUR</th>
          <th>L GU</th>
          <th>L NETT</th>
          <th>L PBT</th>
          <th>L BAYAR</th>
          <th>NO PETA</th>
          <th>HARGA</th>
          <th>JUMLAH</th>
        </tr>
        {% for item in data %}
        <tr>
          <td align="center">{{ loop.index }}.</td>
          <td align="center">{{ item.id_bidang }}</td>
          <td align="center">{{ item.group }}</td>
          <td align="center">{{ item.lokasi }}</td>
          <td align="center">{{ item.pemilik_name }}</td>
          <td align="center">{{ item.alashak }}</td>
          <td align="right">{{ item.luas_suratExt }}</td>
          <td align="right">{{ item.luas_ukurExt }}</td>
          <td align="right">{{ item.luas_gu_peroranganExt }}</td>
          <td align="right">{{ item.luas_nettExt }}</td>
          <td align="right">{{ item.luas_pbt_peroranganExt }}</td>
          <td align="right">{{ item.luas_bayarExt }}</td>
          <td align="center">{{ item.no_peta }}</td>
          <td align="right">{{ item.harga_transaksiExt }}</td>
          <td align="right">{{ item.total_hargaExt }}</td>
          <!-- Tambahkan kolom sesuai dengan properti objek -->
        </tr>
        {% endfor %}
        <tr>
          <td colspan="6"></td>
          <td align="center">{{total_luas_surat}}</td>
          <td align="center">{{total_luas_ukur}}</td>
          <td align="center">{{total_luas_gu_perorangan}}</td>
          <td align="center">{{total_luas_nett}}</td>
          <td align="center">{{total_luas_pbt_perorangan}}</td>
          <td align="center">{{total_luas_bayar}}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td align="center">{{total_harga}}</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <th>ID Bidang</th>
          <th>Jenis Pembayaran</th>
          <th>Tanggal</th>
          <td colspan="10">&nbsp;</td>
          <th>Nominal</th>
        </tr>
        {% for item2 in data_invoice_history %}
        <tr>
          <td>&nbsp;</td>
          <td>{{item2.id_bidang}}</td>
          <td>{{item2.str_jenis_bayar}}</td>
          <td>{{item2.tanggal_transaksi}}</td>
          <td colspan="10">&nbsp;</td>
          <td align="right">{{item2.amountExt}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="15">&nbsp;</td>
        </tr>
        {% if data_beban_biaya|length > 0 %}
        <tr>
          <td>&nbsp;</td>
          <th>ID Bidang</th>
          <th>Beban Biaya</th>
          <td>&nbsp;</td>
          <td colspan="10">&nbsp;</td>
          <th>Nominal</th>
        </tr>
        {% for item3 in data_beban_biaya %}
        <tr>
          <td>&nbsp;</td>
          <td>{{item3.id_bidang}}</td>
          <td>{{item3.beban_biaya_name}}</td>
          <td>&nbsp;</td>
          <td colspan="10">&nbsp;</td>
          <td align="right">{{item3.amountExt}}</td>
        </tr>
        {% endfor %} {% endif %}
        <tr>
          <td colspan="15">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td style="font-weight: bold">{{tanggal_transaksi}}</td>
          <td style="font-weight: bold">{{jenis_bayar}}</td>
          <td>&nbsp;</td>
          <td colspan="10">&nbsp;</td>
          <td align="right" style="font-weight: bold">{{amount}}</td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <table width="100%">
        <tr>
          <td width="50%">
            <table>
              <tr>
                <td>Note :</td>
              </tr>
              <tr>
                <td style="font-weight: bold">> KESEPAKATAN ADA TTD PAK ALI</td>
              </tr>
              <tr>
                <td style="font-weight: bold">> {{remark}}</td>
              </tr>
              {% for item4 in data_harga_akta %}
              <tr>
                <td>Nilai akte Rp {{item4.harga_aktaExt}}, -m2</td>
              </tr>
              {% endfor %}
              <tr>
                <td>
                  Rencana transaksi hari {{hari_transaksi}},
                  {{tanggal_transaksi}} di Kantor {{notaris_name}}
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold">Tolong disiapkan :</td>
              </tr>
              {% for item5 in data_payment %}
              <tr>
                <td style="font-weight: bold; font-size: 19px">
                  {{ loop.index }}. {{item5.payment_method}} Senilai Rp
                  {{item5.amountExt}},- a.n {{item5.nama_pemilik_rekening}},
                  {{item5.bank_rekening}} {{item5.nomor_rekening}}
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td>
                  Bilamana BG dan CEK sudah disiapkan, tolong agar dapat
                  menghubungi Lena di 566 7272
                </td>
              </tr>
              <tr>
                <td>Terima kasih atas kerjasamanya</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Hormat Kami,</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Merry</td>
              </tr>
              <tr>
                <td>Cc : Bapak Denny, Ibu Lia, Ibu Lily</td>
              </tr>
            </table>
          </td>
          <td valign="Top" align="right" width="50%">
            <table>
              <tr>
                <td>MNG : {{manager_name}}</td>
              </tr>
              <tr>
                <td>SALES : {{sales_name}}</td>
              </tr>
              <tr>
                <td>MED : {{mediator}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
