<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="pdfkit-page-size" content="Legal" />
    <meta name="pdfkit-orientation" content="Portrait" />
    <title>SPK</title>
    <style>
      @page {
        size: A4;
      }

      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

      /* CSS untuk header */
      .header {
        text-align: center;
        width: 100%;
      }

      /* CSS untuk sub header */
      .sub-header {
        text-align: left;
      }

      .sub-header td {
        font-size: 12px;
      }

      /* CSS untuk content */

      .content {
        align-self: center;
        margin: 0 auto;
        width: 100%;
      }

      .content p {
        font-size: 12px;
      }

      .content th {
        border: 1px solid;
        font-size: 12px;
        background-color: #b0b0b0;
      }

      .content td {
        border: 1px solid;
        font-size: 11px;
      }

      /* CSS untuk footer */
      .footer {
        align-self: center;
        padding-top: 50px;
        font-size: 12px;
        margin: 0 auto;
        width: 100%;
      }

      .footer td {
        font-size: 11px;
      }

      .spasi-banyak {
        margin: 20px;
        /* Atur jarak margin sebesar 20px */
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div>
        <h3>Permohonan Transaksi {{ jenisbayar }}</h3>
      </div>
      <div>
        <h4>KJB NO: {{kjb_hd_code}}</h4>
      </div>
      <div class="sub-header">
        <table>
          <tr>
            <td style="padding-right: 80px" valign="top">
              <table>
                <tr>
                  <td>Group</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{group}}</td>
                </tr>
                <tr>
                  <td>Nama</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{pemilik_name}}</td>
                </tr>
                <tr>
                  <td>Alashak</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{alashak}}</td>
                </tr>
                <tr>
                  <td>Desa</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{desa_name}}</td>
                </tr>
                <tr>
                  <td>Luas Surat</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{luas_surat}}</td>
                </tr>
                <tr>
                  <td>Luas Ukur</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{luas_ukur}}</td>
                </tr>
                <tr>
                  <td>NOP</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{nop}}</td>
                </tr>
                <tr>
                  <td>NPWP</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{npwp}}</td>
                </tr>
                <tr>
                  <td>KTP</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{ktp}}</td>
                </tr>
                <tr>
                  <td>KK</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{kk}}</td>
                </tr>
              </table>
            </td>
            <td valign="top">
              <table>
                <tr>
                  <td>Id Bidang</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{id_bidang}}</td>
                </tr>
                <tr>
                  <td>No. Peta</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{no_peta}}</td>
                </tr>
                <tr>
                  <td>Notaris</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{notaris_name}}</td>
                </tr>
                <tr>
                  <td>Project</td>
                  <td>&emsp;&emsp;&emsp;&emsp;</td>
                  <td>:</td>
                  <td>{{project_name}}</td>
                </tr>
                <tr>
                  <td colspan="4">{{ptsk}} ({{status_il}})</td>
                </tr>
                <tr>
                  <td colspan="4">- {{hasil_analisa_peta_lokasi}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="content">
      <table
        align="center"
        style="border-collapse: collapse; border: 1px solid; width: 80%"
      >
        <tr>
          <th colspan="9">OVERLAP(DAMAI)</th>
        </tr>
        <tr>
          <th>Nama</th>
          <th>Alashak</th>
          <th>Tahap</th>
          <th>Luas Surat</th>
          <th>Luas Overlap</th>
          <th>Kat</th>
          <th>No. NIB</th>
          <th>Id Bidang</th>
          <th>Status Overlap</th>
        </tr>
        {% for item in data_overlap %}
        <tr>
          <td align="center">{{ item.pemilik_name }}</td>
          <td align="center">{{ item.alashak }}</td>
          <td align="right">{{ item.tahap }}</td>
          <td align="right">{{ item.luas_suratExt }}</td>
          <td align="right">{{ item.luas_overlapExt }}</td>
          <td align="center">{{ item.kategori }}</td>
          <td align="center">{{ item.no_nib }}</td>
          <td align="center">{{ item.id_bidang }}</td>
          <td align="center">{{ item.tipe_overlapExt }}</td>
          <!-- Tambahkan kolom sesuai dengan properti objek -->
        </tr>
        {% endfor %}
      </table>
      &nbsp; &nbsp;
      <table
        align="center"
        style="border-collapse: collapse; border: 1px solid; width: 100%"
      >
        <tr>
          <th width="30%">No.</th>
          <th width="30%">Pajak-Pajak</th>
          <th colspan="2" width="40%">Tanggapan</th>
        </tr>
        {% for item in data %}
        <tr>
          <td align="center">{{ item.no }}</td>
          <td>{{ item.name }}</td>
          <td colspan="2">{{ item.tanggapan }}</td>
          <!-- Tambahkan kolom sesuai dengan properti objek -->
        </tr>
        {% endfor %}
      </table>
      &nbsp
      <table
        align="center"
        style="border-collapse: collapse; border: 1px solid; width: 100%"
      >
        <tr>
          <td width="30%" align="center">Dimohon Oleh,</td>
          <td width="30%" align="center">Disetujui Oleh,</td>
          <td width="40%" align="center">
            Divisi Finance, Mohon Proses Pembayaran<br />Diketahui Oleh,
          </td>
        </tr>
        <tr height="50px">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center">{{worker_name}}</td>
          <td align="center">Denny P. Wangsya</td>
          <td align="center">Yaya</td>
        </tr>
      </table>
    </div>
    <div class="footer"></div>
  </body>
</html>
